.contact-heading{
    text-align: center;
    
    font-size:30px;
    font-weight: 400;
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
    gap:500px;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin-left: 1px;
    
    overflow-x: hidden;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.location{
    margin-left:60px;
}
.phone{
    margin-left:60px;
    margin-top: 30px;
}
.button {
    border-radius: 4px;
    background-color: #22577a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.email{
    margin-left:60px;
    margin-top: 30px; 
}
.contact-left{
    margin-top:60px; 
   
    /* margin-left: 130px; */
}
.send-us{
    margin-top: 50px;
}
.email-contact{
    margin-top: 60px;
   
}
.textarea-contact{
    margin-top: 80px;
}
.contact-right{
    margin-top: 30px;
    margin-left:50px;
}
.contact-right p{
    font-size: 30px;
    font-weight: 100;
    color:blue;
}
.contact-image{
    width:100px;
    height: 200px;
}
.name-contact{
    width:400px;
}
#standard-basic{
    width:380px;
} 
.user-name{
    color:#219ebc;
    font-size: 18px;
}
.logout{
    color:#edede9;
}


/* media queries */

@media screen and (max-width:991px)
    {
        
        
        .contact-container{
            display: flex;
           flex-direction: column;
          
           
         
           justify-content: center;
           align-items: center;

        }
        .contact-left{
            text-align: center;
            margin-left: -182px;
        }
        .contact-right{
            margin-left:30px;
            margin-top: -500px;
        }
        
        
    } 
    #standard-basic{
        width:280px;
    } 
    #w3review{
        width:280px;
    }
    @media screen and (max-width:1186px)
    {
        
        
        .contact-container{
            display: flex;
           flex-direction: column;
           width:100%;
           
           
         
           justify-content: center;
           align-items: center;

        }
        .contact-left{
            text-align: center;
            margin-left: -200px;
        }
        /* .contact-right{
            margin-left:30px;
            margin-bottom: -100px;
        } */
      
       
        
        
    }