.logo-name{
    color:#6085ef;
    /* margin-left:63px; */
}
.Home-text-container{
    margin-top:100px;
    margin-left:63px;
    margin-left: -150px;
    
    
}


.home-text{
    font-size:40px;
    color:#0d1b2a;
    font-weight: 50px;
    margin-top:-8px;
    
}
.home-container{
    margin-left:200px;
    
}
.cartify-text{
    color:#6085ef;
}
.home-discription{
    color:#8d99ae;
    font-size: 18px;
    margin-top: -12px;
}
.sign-up{
    border-radius: 20px;
    border: 1px solid #3498db; 
    background-color: transparent; 
    height: 50px; 
    width: 200px; 
    font-size: 20px;
} 
.back{ 
  margin-top:50px;
  font-size: 50px;
  
  float:left;
  cursor: pointer;
}
.sign-up:hover{
    background-color: #3498db;
    color: white;
    transition:1s  ease-in-out;
}

.home-container{
    display:flex;
   
}
.home-logo img{
    max-width:520px;
    width:100%;
    height:350px;
    margin-top:120px;
    margin-left: 350px;
}
.all_service{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:30px;
}
.service{
    display: flex;
    width: 200px;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin: 35px;
}
.service_description{
    padding-left: 15px;
}
.feature{
    font-weight: 600;
    font-size: 15px;
}
.des{     color: grey;
    font-size: 10px;
}
.service_icon{
    color: #6f54ca;
    padding: 5px;
    font-size: 25px;
    border-radius: 50%;
    background-color: rgb(191, 191, 255);
}
.trending-name{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}
/* .deal-cards{
    width:100px;
    height:300px;
    box-shadow: 4px 4px 6px rgba(0,0,0,.2);  
} */


.deal-cards {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width:200px;
    height:auto;
    /* margin-left:270px; */
    margin-top: 50px;
    /* box-shadow: 7px 5px 10px #888888; */
  }
  .deal-cards img{
    /* Add shadows to create the "card" effect */
    width:180px;
    height:200px;

  }
  .Deals{

    display: flex;
    gap:180px;
    margin-top: 100px;
    justify-content: space-evenly;
  }
  
  /* On mouse-over, add a deeper shadow */
  .deal-cards:hover {
    box-shadow: 0 8px 16px 0 #eeeee4;
    transform:scale(1.01);
  }
  .shirt{
    margin-left: 10px;
    font-size:20px;
    margin-top: -3px;
  }
  .shirt-desc{
    margin-top: -20px;
    margin-left: 10px;

  }
  .shirt-rupee{
    margin-left: 10px;
    margin-top: -12px;
    font-weight: 500;
  }
  .shirt-profit{
    text-decoration: line-through;
    margin-top: -12px;
    margin-left:10px;
  }
  .rupee-container {
    display: flex;
    margin-top: -10px;
    width:auto;
    
    
   
  }
  .rupee-container p {
    
    margin-top: 5px;
    
    
   
  }
  .shirt-off{
    margin-top: -12px;
    margin-left:10px;
  }
  .trusted{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color:#22223b;
  }
  .trust_head{
   text-align: center;
  }
  .Trusted-container{
    margin-top: 110px;
    
  }
  .trust_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color:#edede9;
    border-radius: 20px ;
   border:2px solid black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 7%;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
    }
    .trust_icon{
        margin-left: 30px;
    margin-right: 30px;
        font-size: 35px;
    }
    .trust_head, .deal_head{
        margin-top: 7%;
    }

    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #669bbc;
        color: #fff;
        padding: 20px;
        margin-top: 50px;
        
      }
      
      .footer-content {
        text-align: left;
        max-width: 300px;
      }
      
      h3 {
        color: #ffcc00;
      }
      
      /* Styling for the list in the footer */
      /* .list {
        padding-left: 0;
      } */
      
      .list a {
        color: #fff;
        display: block;
        margin-bottom: 8px;
      }
      
      /* Styling for the social icons */
      .social-icons {
        list-style: none;
        padding: 0;
        display: flex;
      }
      
      .social-icons li {
        margin-right: 10px;
      }
    .bottom-bar{
        background: #ffc8dd;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }
    .bottom-bar p{
        color: #343434;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }

    /* media queries */
    /* @media screen and (max-width:991px)
    {
        .home-container{
         
           
            
            width:100%;
            display: block;
            justify-content: space-evenly;
        }
        .Home-text-container{
            margin-left: -22px;;
            overflow-x: hidden;
            
            text-align: center;
            
            
        }
        
        
        
        
        
    } */
    @media (max-width: 991px) {
        .home-container {
          flex-direction: column;
          text-align: center;
          margin-left: -5px;
        }
        
      
        .Home-text-container {
         max-width:none;/* Remove max-width for smaller screens */
         margin-left:-2px;
        }
        .home-logo img{
            width:100%;
            margin-left: -40px;;
           
           
           
        }  
        .Cartify{
          margin-left:40px;
        }
        .Deals{

            display: flex;
            flex-wrap: wrap;
            /* flex-direction: column; */
            margin-left: 10px;
            
          }
          .deal-cards{
            
            overflow-y: hidden;
          }
          .rupee-container{
            margin-top: 20px;
            
          } 
          .followh3{
            margin-left:40px;
          }
          .container {
            flex-direction: column;
             flex-wrap: wrap;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin:20px;
          }
        
          .footer-content {
            width: 100%;
            float: none;
            margin-bottom: 20px;
            margin-left:20px;
        }
        .list{
          margin-right:200px;
        }
        .social-icons {
         display:flex;
         margin-right: 155px;
        }
        .footer-content1{
          margin-left: 100px;
        }
       
        

          
        
            
      
        
      }
  
   

    