.product-heading{
    text-align: center;
    font-size: 30px;
}
.product-cards{
    transition: 0.3s;
    /* display: flex; */
    
    height:440px;
    width:200px;
    
    background-color: white;
    padding: 20px 0px 15px;
    
    margin-top:150px;
    color:black;
   
    /* width:23%; */
    
}
.product-cards img{
    margin-top:-20px;
   
    /* width:23%; */
    
}
.product-cards-contents{
    margin-left:5px;
}
.product-container{
    display:flex;
    display:column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top:40px;
    text-align: center;
    color:black;
    margin-left:50px;
    margin-right:50px;
    
}
.button{
    border:none;
}
.product-price{
    color:#3a7ca5;
}
.product-cards:hover {
    /* box-shadow: 0 8px 16px 0 #eeeee4; */
    /* transform:scale(1.01); */
    box-shadow: 0 8px 16px 0 #eeeee4;
  }
  .products-button{
    background-color: transparent;
    border:none;
  }
  .shirts{
    text-align: center;
  }
  .shirt-nav ul{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
    /* margin-right: -950px; */
   justify-content: center;
   margin-top: -60px;

}
 .shirt-nav {

    display:flex;
    margin-top:350px;
    align-items: center;
    justify-content: center;
    font-size:20px;
    cursor: pointer;
    
    
   

} 
/* .shirt-nav div{
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
} */
.shirt-nav div a{
    color:black;
    cursor: pointer;
}
a{
    text-decoration: none;
    
    
    
}
.product-nav{
    margin-top: 50px;
    
}
.shirt-nav a:hover{
    transition:  0.6s ;
    font-weight: 200;
    cursor: pointer;
    
}

.product-nav{
    margin-top:10px;
}
.jackets-nav{
    margin-top:100px;
}
.best-deals-p{
    text-align: center;
    font-size: 30px;
    
    margin-top:-180px;
    cursor:pointer;
}
.shirts-nav{
    margin-top:100px;
   
}

.product-cards-container{
    /* display:flex;
    /* justify-content:space-between; */
    /* flex-wrap: wrap;
    align-items: f;  */
    overflow-x: hidden;
    height:900px;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:white;
    
}
.add-cart
{
    display:flex;
    margin-left:10px;
    justify-content: space-between;
    color:white;
    
}
 .cart_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    
    margin-top: 40px;
    height:auto;
    width:100%;
   
    padding-bottom: 15px;
    background-color: white;
    justify-content: baseline;
    margin-left:-13px;
    overflow-x:hidden;
    
} 
.cart-content
{
    display:flex;
    /* justify-content: flex-start; */
    justify-content: flex-start;
    height:20px;
    width:100%;
    margin-top: 0px;
    margin-left:-20px;
    gap:50px;
    
}
.cart_img{
    display: flex;
}
.cart-img{
    width:150px;
    height:150px;
}
.cart-box-content{
    margin-top:30px;
    display:flex;
    margin-left: 50px;
    width:100%;
    justify-content: baseline;
}
.item-car-title{
    margin-top:35px;
    font-size:20px;
    color:#3a7ca5;
    width:300px;
    margin-left:-15px;
    /* display:inline-block; */
}
.cart-button{
    margin-top:10px;
    display:flex;
    margin-left:180px;
    height:25px;
    margin-top: 53px;
    gap:12px;
    /* justify-content: space-evenly; */

   
    
}
.cart-main-title {
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
    color:#6247aa;
    margin-left:50px;

}
.cart-price {
    display: flex;
    margin-left:200px;
    margin-top: 30px;
    font-weight: 500;
}
.cart-price button{
    display: flex;
    margin-left:220px;
     /* border-radius: 15px 15px 15px ; */

     background-color:#ffffff; 
   height:28px;
   width:32px;
   margin-top:20px;
   margin-right: 100px;
   cursor:pointer;
   overflow: hidden;
   text-align: center;
   border: none;
 

   font-weight: 500;
}
.total-price{
    margin-left: 375px;
    margin-top: 35px;;
    display: flex;
    flex-wrap: wrap;
     justify-content: flex-start;
     gap:20px;
     font-size: 30px;
}
.heading-cart {
    margin-top: -1750px;
    margin-left: 600px;
    font-size:40px;
}
.main-cart{
    display:flex;
    position:fixed;
    opacity:2;
    margin-top:10px;
    /* margin-left:1200px; */
}
.main-cart-count {
    background-color: #cbeef3;
    /* margin-left:1480px; */
    position: fixed;
    margin-top: 5px;
    margin-right:-4px;
    

}
.cart-top{
    display:flex;
    justify-content: flex-end;
   
    margin-right:40px;
}
.product-banner img{
    height:250px;
    width:70%;
    margin-left:220px;
}
.quantity-cart{
    border:inset;
}
.total-price-amt{
    margin-left:320px;
}

.card-container-shirt {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto a new line if they exceed the container width */
    justify-content: space-between; /* Adjust as needed for your layout */
    margin-top:50px;
    height:auto;
  }
  
  .card-shirt {
    
    margin: 10px;
    padding: 10px;
    width:300px;
    height:500px;
    margin-left:50px;
    /* border: 1px solid #ccc; */
  }


    .card-shirt img:hover {
    
        transform: skewY(20deg);
  }  


  .card-shirt img {
    
   
    width:200px;
    height:200px;
    /* border: 1px solid #ccc; */
  }
  .shirt-nav{
    margin-top:45px;
  }
  .jacket-title{
    text-align: center;
  }

  /* media queries */
  @media screen and (max-width:991px)
    {
        
        
        .cart-top{
            /* justify-content: center;
            align-items: center; */
           
            margin-top: 20px;
            position:static;
        }
        .main-cart-count {
           
           
            text-align: center;
            /* margin-top: 200px; */
            /* margin-right:-100px; */
           
            
        
        }
        .shirts-nav ul{
            
           
         
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: 1800px;
            
        }
        

        .cart_box{
          
          
            flex-direction: column;
            align-items: center;
            padding:20px;
            gap:5px;
            
            
           
          
            height:auto; 
           
          
            
        } 
        .cart-box-content
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
     gap:2px;

    padding-top: 2px;
    height:350px;
    
    /* justify-content: flex-start; */
  
    
}
.cart-button {
    margin-left: 15px;
    margin-top: 5px;
    height: 40px;
    
   

   
    
}
        .cart-button button{
            margin: 5px 0;
            width: 30px;
            
            
           
        
           
            
        }
        .item-car-title{
            margin-left:-80px;
            margin-top:-20px;
        }
        .cart-price{
            margin-left: 40px;
            margin-top: 2px;
        
        }
        .cart-price button{
            margin-left:-10px;
            margin-top: 50px;
            margin-left: -50px;
        }
        .total-price{
            flex-wrap: wrap;
           flex-direction: column;
           width: auto;
           justify-content: center;
           align-items: center;
           margin-left:-120px;
           height: auto;

        }
        .total-price-amt {
            margin-left: -20px;
        }
        
        
        
    }






    
   


